<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>ARTICLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-center>
  <div class="ion-padding">
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-title>วิธีปลูกปลูกเห็ดนางฟ้า</ion-card-title>
            <a href="https://farm.vayo.co.th/blog/angel-mushroom-cultivation/">
              <ion-badge>
                ดูเพิ่มเติม
              </ion-badge>
            </a>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-title>ความชื้นที่เหมาะสมกับพืช</ion-card-title>
            <ion-card-subtitle>
              <a
                href="https://www.spsmartplants.com/blog/detail/%E0%B8%A3%E0%B8%B9%E0%B9%89%E0%B8%AB%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B9%84%E0%B8%A1%E0%B9%88-%E0%B8%84%E0%B8%A7%E0%B8%B2%E0%B8%A1%E0%B8%8A%E0%B8%B7%E0%B9%89%E0%B8%99%E0%B9%83%E0%B8%99%E0%B8%94%E0%B8%B4%E0%B8%99%E0%B8%A1%E0%B8%B5%E0%B8%84%E0%B8%A7%E0%B8%B2%E0%B8%A1%E0%B8%AA%E0%B8%B3%E0%B8%84%E0%B8%B1%E0%B8%8D%E0%B8%81%E0%B8%B1%E0%B8%9A%E0%B8%9E%E0%B8%B7%E0%B8%8A%E0%B8%A1%E0%B8%B2%E0%B8%81/5">
                <ion-badge>
                  ดูเพิ่มเติม
                </ion-badge>
              </a>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-title>วิธีรดน้ำต้นไม้อย่างถูกวิธี </ion-card-title>
            <ion-card-subtitle>
              <a
                href="https://kaset.today/2021/05/%E0%B8%A3%E0%B8%94%E0%B8%99%E0%B9%89%E0%B8%B3%E0%B8%95%E0%B9%89%E0%B8%99%E0%B9%84%E0%B8%A1%E0%B9%89%E0%B9%83%E0%B8%AB%E0%B9%89%E0%B8%96%E0%B8%B9%E0%B8%81%E0%B8%A7%E0%B8%B4%E0%B8%98%E0%B8%B5-%E0%B8%8A/">
                <ion-badge>
                  ดูเพิ่มเติม
                </ion-badge>
              </a>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-title>วิธีปลูกดอกทานตะวัน</ion-card-title>
            <ion-card-subtitle>
              <a
                href="https://www.railungtop.com/%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%A5%E0%B8%B0%E0%B9%80%E0%B8%AD%E0%B8%B5%E0%B8%A2%E0%B8%94/%E0%B8%A7%E0%B8%B4%E0%B8%98%E0%B8%B5%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%9B%E0%B8%A5%E0%B8%B9%E0%B8%81%E0%B8%94%E0%B8%AD%E0%B8%81%E0%B8%97%E0%B8%B2%E0%B8%99%E0%B8%95%E0%B8%B0%E0%B8%A7%E0%B8%B1%E0%B8%99?q=TP1">
                <ion-badge>
                  ดูเพิ่มเติม
                </ion-badge>
              </a>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-title>วิธีปลูกบร็อคโคลี่</ion-card-title>
            <ion-card-subtitle>
              <a
                href="https://www.railungtop.com/%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%A5%E0%B8%B0%E0%B9%80%E0%B8%AD%E0%B8%B5%E0%B8%A2%E0%B8%94/%E0%B8%A7%E0%B8%B4%E0%B8%98%E0%B8%B5%E0%B8%9B%E0%B8%A5%E0%B8%B9%E0%B8%81%E0%B8%9A%E0%B8%A3%E0%B9%87%E0%B8%AD%E0%B8%84%E0%B9%82%E0%B8%84%E0%B8%A5%E0%B8%B5%E0%B9%88?q=TP1">
                <ion-badge>
                  ดูเพิ่มเติม
                </ion-badge>
              </a>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
