<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon icon="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="article">
      <ion-icon name="newspaper"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="notification">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="setting">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
