<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-slides pager="true" class="center">
    <ion-slide>
      <div class="container">
        <img src="../../assets/logo.png" /><br>
        <h5>ดูเเลต้นไม้ของคุณเเค่ปลายนิ้ว</h5>
      </div>
      <br>

    </ion-slide>
    <ion-slide>
      <div class="container">
        <img src="../../assets/logo.png" /><br>

        <div class="button-container">
          <ion-button expand="block" routerLink="/login" routerDirection="forward">
            Login
          </ion-button>
          <ion-button expand="block" routerLink="/signup" routerDirection="forward">Signup
          </ion-button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
