.container {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.button-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

ion-button {
  --background: #7dbc88;
  --background-hover: #d1ebd8;
  --background-activated: #7dbc88;
  --background-focused: #7dbc88;
  margin-top: 10px;
}


img {
  margin-top: 50px;
  width: 80%;
  margin-left: 28px;
  margin-bottom: 10px;
}

h5 {
  font-size: 17.5px;
  margin-bottom: 20px;
  margin-top: 3px;
  color: rgb(103, 102, 102)
}
